<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="class-body">
                    <h3 class="titulo">Sistema de gestión de CRUD de Facturas</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">LISTADO DE FACTURAS</h5>
                    <table class="table">
                        <thead>
                            <tr>
                              <th scope="col">Numero Detalle</th>
                              <th scope="col">Cantidad</th>
                              <th scope="col">Valor Total</th>
                              <th scope="col">Nombre Ciudad</th>
                              <th scope="col">Nombre Articulo</th>
                              <th scope="col">Numero Factura</th>
                            </tr>
                          </thead>
                        <tbody>
                            <tr *ngFor="let factura of listaFacturas">
                                <td>{{ factura.numeroDetalle }} </td>
                                <td>{{ factura.cantidad }}</td>
                                <td>{{ factura.valorTotal }}</td>
                                <td>{{ factura.nombreCiudad }}</td>
                                <td>{{ factura.nombreArticulo }}</td>
                                <td>{{ factura.numeroFactura }}</td>
                                <td><i class="fa-regular fa-pen-to-square text-info"></i></td>
                                <td><i (click)="eliminarFactura(factura.numeroDetalle)" class="fa-solid fa-trash-can text-danger"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">AGREGAR DETALLE FACTURA</h5>

                    <form [formGroup]="form" (ngSubmit)="guardarFactura()">
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-calendar-days"
                                    [class.green-icon]="this.form.get('fecha')?.valid"
                                    [class.red-icon]="this.form.get('fecha')?.invalid && this.form.get('fecha')?.touched">
                                </i>
                            </span>
                            <input  formControlName="fecha" maxlength="10" type="text" class="form-control" placeholder="Fecha">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fas fa-user"
                                    [class.green-icon]="this.form.get('clienteId')?.valid"
                                    [class.red-icon]="this.form.get('clienteId')?.invalid && this.form.get('clienteId')?.touched">
                                </i>
                            </span>
                            <input  formControlName="clienteId"  type="number" class="form-control" placeholder="Cliente">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-star"
                                    [class.green-icon]="this.form.get('cantidad')?.valid"
                                    [class.red-icon]="this.form.get('cantidad')?.invalid && this.form.get('cantidad')?.touched">
                                </i>
                            </span>
                            <input  formControlName="cantidad" type="number" class="form-control" placeholder="Cantidad">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-truck-fast"
                                    [class.green-icon]="this.form.get('articuloId')?.valid"
                                    [class.red-icon]="this.form.get('articuloId')?.invalid && this.form.get('articuloId')?.touched">
                                </i>
                            </span>
                            <input  formControlName="articuloId" type="number" class="form-control" placeholder="Articulo">
                        </div>

                        <div class="d-grid gap-2">
                            <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg">
                                <i class="fas fa-database"></i>&nbsp; Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>